table {
  border-collapse: collapse;
  width: 100%;
}
thead{
	color: white;
	background-color: indianred;
}
tbody{
	color: white;
	background-color: lightpink;
}
.c{
	color: black;
	background-color: lightyellow;
}
tfoot{
	background-color: lightgray;
}